<div nz-row>
  <div nz-col nzSpan="10" style="margin-bottom: -15px;">
    <h4 nz-typography>Edit Freelancer</h4>
  </div>
  <div nz-col nzFlex="auto">
    <div style="float: right;">
      <button nz-button nzType="default" routerLink="/freelancer" [disabled]="disableInput">Back</button>
      <button nz-button nzType="primary" (click)="saveFreelancer()" [disabled]="disableInput">Save</button>
    </div>
  </div>


  <!-- <div nz-col>
    <h4 nz-typography>Edit Freelancer</h4>
  </div>

  <div id="btnDiv" nz-col nzFlex="auto">
      <button nz-button nzType="default" routerLink="/freelancer" [disabled]="disableInput">Back</button>
      <button nz-button nzType="primary" (click)="saveFreelancer()" [disabled]="disableInput">Save</button>
  </div> -->
</div>

<div nz-row>
  <div nz-col nzFlex="auto">
    <nz-divider></nz-divider>
  </div>
</div>

<div nz-row>
  <div nz-col nzFlex="auto">
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="2" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="6">
          <input nz-input [(ngModel)]="freelancer.name" name="name" type="text" id="name" [disabled]="disableInput">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="2" nzFor="name">Email</nz-form-label>
        <nz-form-control [nzSpan]="4">
          <input nz-input [(ngModel)]="freelancer.email" name="email" type="email" id="email" [disabled]="disableInput">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="2" nzFor="name">Phone No.</nz-form-label>
        <nz-form-control [nzSpan]="4">
          <input nz-input [(ngModel)]="freelancer.phoneNo" name="phoneNo" type="text" id="phoneNo" [disabled]="disableInput">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="2" nzFor="name">Skills</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <nz-select nzMode="tags" nzPlaceHolder="Enter your skills" nzAllowClear nzShowSearch [(ngModel)]="freelancer.skills" name="skills" [disabled]="disableInput">
            <ng-container *ngFor="let option of skillOptions">
              <nz-option *ngIf="!skillLoading" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </ng-container>
            <nz-option *ngIf="skillLoading" nzDisabled nzCustomContent>
              <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="2" nzFor="name">Hobbies</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <nz-select nzMode="tags" nzPlaceHolder="Enter your hobbies" nzAllowClear nzShowSearch [(ngModel)]="freelancer.hobbies" name="hobbies" [disabled]="disableInput">
            <ng-container *ngFor="let option of hobbyOptions">
              <nz-option *ngIf="!hobbyLoading" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </ng-container>
            <nz-option *ngIf="hobbyLoading" nzDisabled nzCustomContent>
              <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>